
%title {
    color: $main-color;
    text-align: center;
    padding-top: 10px;
}

%number {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    padding-top: 5px;
}

%animation {
    animation: swing .9s ease;
    animation-iteration-count: 1;
    cursor: pointer;
}
