@import "./hamburger.scss";
@import "./color.scss";
@import "./mixin.scss";
@import "./animation.scss";
@import "./modal.scss";
@import './search.scss';

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body {
  background: black;
}

.wrapper {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1200px;
}

.header {
  background: $main-background;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;

  &__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__logo {
    height: 50px;
    width: 50px;
    background-image: url(/assets/img/covid.svg);
    background-size: cover;

    &:hover {
      @include animation;
    }
  }

  &__title {
    @include title;
  }
}

.main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: calc(100vh - 60px);
}

.cases {
  margin-bottom: 10px;
  height: 100%;

  &__block {
    width: 202px;
    max-height: 70px;
    background-color: $main-background;
    margin-bottom: 5px;
    border-radius: 5px;
    position: relative;

    &--full {
      @include fullScreen;
    }
  }

  &__title {
    @include title;
    padding-bottom: 10px;

    &--full {
      color: $main-color;
      text-align: center;
      padding-top: 70px;
      font-size: 40px;
    }
  }

  &__number {
    color: $cases-color;
    @include number;

    &--full {
      font-size: 100px;
      text-align: center;
      font-weight: 600;
      padding-top: 15px;
      color: $cases-color;
    }
  }

  &__buttons {
    padding-top: 10px;
  }

  &__button {
    background: $cases-color
      linear-gradient(to left, transparent, transparent 50%, $light-color 50%);
    @include button;

    &:hover {
      color: $cases-color;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    margin-top: 10px;
  }

  &__item {
    margin-bottom: 4px;
    border-bottom: 1px solid blueviolet;

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
      transition: 0.5s linear;
      cursor: pointer;
      border-bottom: 1px solid $main-background;
    }
  }

  &__countries {
    width: 202px;
    height: 349px;
    background-color: $main-background;
    overflow: auto;
    padding-left: 3px;
    border-radius: 5px;
    position: relative;
    padding-top: 20px
  }

  &__full {
    @include fullScreen;
  }

  &__country {
    color: $main-color;
  }

  &__flag {
    width: 20px;
    height: 15px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
}

.map {
  height: 435px;
  width: 450px;
  background: $main-background;
  margin-bottom: 10px;
}

.general {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-column-gap: 0px;


  &__death {
    max-width: 200px;
    max-height: 260px;
    background-color: $main-background;
    overflow: auto;
    margin-right: 10px;
    padding-left: 3px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;

  }

  &__recovered {
    max-width: 200px;
    max-height: 268px;
    background-color: $main-background;
    overflow: auto;
    padding-left: 3px;
    border-radius: 5px;
    position: relative;
  }
}

.death {
  &__title {
    @include title;
  }

  &__amount {
    text-align: center;
    padding-top: 5px;
    font-size: 26px;
    color: $light-color;
    padding-bottom: 10px;

    &--full {
      font-size: 70px !important;
      text-align: center;
      padding-top: 5px;
      font-size: 26px;
      color: $light-color;
    }
  }

  &__button {
    background: black
      linear-gradient(to left, transparent, transparent 50%, $light-color 50%);
    @include button;

    &:hover {
      color: black;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    margin-top: 20px;
  }

  &__item {
    margin-bottom: 4px;
    border-bottom: 1px solid blueviolet;
  }

  &__number {
    color: $light-color;
    @include number;
  }

  &__country {
    color: $light-color;
    font-weight: 600;
  }

  &__end {
    padding-left: 3px;
    color: $main-color;
    font-weight: 300;
  }

  &__full {
    @include fullScreen;
  }
}

.recovered {
  &__title {
    @include title;
  }

  &__subtitle {
    text-align: center;
    color: $light-color;
    padding-bottom: 10px;

    &--full {
      font-size: 40px;
      text-align: center;
      color: $light-color;
    }
  }

  &__button {
    background: $recovered-color
      linear-gradient(to left, transparent, transparent 50%, $light-color 50%);
    @include button;

    &:hover {
      color: $recovered-color;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    margin-top: 20px;
  }

  &__item {
    margin-bottom: 4px;
    border-bottom: 1px solid blueviolet;
  }

  &__number {
    color: $light-color;
    @include number;
  }

  &__country {
    color: $light-color;
    font-weight: 600;
  }

  &__end {
    padding-left: 3px;
    color: $main-color;
    font-weight: 300;
  }

  &__amount {
    color: $recovered-color;
  }

  &__full {
    @include fullScreen;
  }
}

.footer {
  background: $main-background;
  padding-top: 20px;
  padding-bottom: 20px;

  &__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__info {
    text-decoration: none;
    color: $main-color;

    &:hover {
      color: $light-color;
      transition: 0.5s linear;
    }
  }
}

.icon-github {
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    background-image: url(/assets/img/github.svg);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: -10px;
    left: 15px;
  }

  &:hover::after {
    @include animation;
  }
}
